@model Subestaciones.Models.SubTermometrosTransfSubTransmision

@{
    ViewBag.Title = "Insertar termómetro";
}



<div class="panel panel-bordered-default">
    <div class="panel-heading">
        <h3 class="panel-title">Insertar termómetro</h3>
    </div>
    <hr />
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="form">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id_EAdministrativa)
            @Html.HiddenFor(model => model.Id_Transformador)
            @Html.HiddenFor(model => model.NumAccion)
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Rango, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Rango, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rango, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Insertar Termómetro</button>
                    <a class="btn btn-default" href="@Url.Action("Edit","TransformadoresSubtransmisions",new { EA = Model.Id_EAdministrativa, Id_Transformador = Model.Id_Transformador, ubicado = @ViewBag.ubicado })"><i class="fa fa-list"></i> Regresar</a>
                </div>

            </div>
        </div>

        }
    </div>

</div>
