@model Subestaciones.Models.Emplazamiento_Sigere

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Emplazamiento_Sigere</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Provincia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Provincia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fuente_Energia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fuente_Energia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Id_EAdministrativa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id_EAdministrativa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumAccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumAccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Calle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Calle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Entrecalle1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Entrecalle1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Entrecalle2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Entrecalle2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BarrioPueblo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BarrioPueblo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sucursal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sucursal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CentroTransformacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CentroTransformacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Id_EAdireccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id_EAdireccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.coddireccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.coddireccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tipo_fuelCTE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tipo_fuelCTE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.planta_pico)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.planta_pico)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.centg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.centg)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
