@model Subestaciones.Models.Breakers

@{
    /**/

    ViewBag.Title = "Breaker";
}

@*@section pagetitle{
        <div class="page-title">
            <h1>editar breakers</h1>
        </div>
    }*@

<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","InstalacionDesconectivos")">Lista de desconectivos</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Detalles breaker</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-bars"></i>Detalles desconectivo tipo breaker
                            </div>
                        </div>
                        <div class="portlet-body form">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id_EAdministrativa)
                                @Html.HiddenFor(model => model.id_EAdministrativa_Prov)
                                @Html.HiddenFor(model => model.Id_Breaker)


                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row" style="display:none">
                                            @Html.ValidationMessageFor(model => model.id_fabricante, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.id_VoltajeN, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.Capacidad_breaker, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })

                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CodigoBreaker, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.CodigoBreaker, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = true } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.id_fabricante, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.id_fabricante, ViewBag.fab as SelectList,"", htmlAttributes: new { @class = "form-control select2", @disabled = true })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.id_VoltajeN, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.id_VoltajeN, ViewBag.tension as SelectList,"", htmlAttributes: new { @class = "form-control select2", @disabled = true })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Capacidad_breaker, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.Capacidad_breaker, ViewBag.capacidad as SelectList, "", htmlAttributes: new { @class = "form-control select2", @disabled = true })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","InstalacionDesconectivos")"><i class="fa fa-list"></i> Listado de desconectivos</a>
                                            <a class="btn btn-warning" href="@Url.Action("Edit", new { ea = Model.id_EAdministrativa, id = Model.Id_Breaker })"><i class="fa fa-edit"></i>Editar</a>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->
@section styles{
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />


}

@section script{


    <script src="@Url.Content("~/Scripts/TooltipValidator1Anidacion.js")"></script>



    <script src="~/Scripts/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            inicializar_select2();


            function inicializar_select2() {
                $(".select2").select2({
                    placeholder: "Seleccione un elemento de la lista"
                });
            }

            var tipoFuse = $("#tipoPortafusible");

        });

    </script>
}



