@model  Subestaciones.Models.Sub_Celaje

@{
    ViewBag.Title = "Inspeciones de Subestaciones de Transmición";
}

<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Sub_CelajeSubTrans")">Lista de mantenimientos</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Insertar</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->

        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-binoculars"></i>Insertar inspecci&oacute;n de la subestaci&oacute;n de transmisión
                            </div>
                        </div>
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Create", "Sub_CelajeSubTrans", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))

                            {
                                @Html.ValidationSummary(false)
                                @Html.AntiForgeryToken()


                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row" style="display:none">
                                            @Html.ValidationMessageFor(model => model.NombreCelaje, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.RealizadoPor, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.CodigoSub, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">Datos de la inspecci&oacute;n</div>
                                            <div class="panel-body">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.CodigoSub, htmlAttributes: new { @class = "control-label" })

                                                        @Html.DropDownListFor(model => model.CodigoSub, ViewBag.ListaSub as SelectList,
                                              "Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.NombreCelaje, htmlAttributes: new { @class = "control-label" })

                                                        @Html.DropDownListFor(model => model.NombreCelaje, ViewBag.tipo as IEnumerable<SelectListItem>,
                                             "Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.RealizadoPor, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.RealizadoPor, ViewBag.personal as IEnumerable<SelectListItem>,
                                            "Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label" })

                                                    <div class="input-group date" id="fechahora">
                                                        <input type="text" disabled class="form-control" id="termofechahora">
                                                        <span class="input-group-addon btn blue tooltips" disabled id="inspfechahora" data-original-title="Seleccionar fecha">
                                                            <span class="fa fa-calendar"></span>
                                                            @*<button class="btn green" type="button">Go!</button>*@
                                                        </span>
                                                    </div>
                                                    @Html.HiddenFor(model => model.fecha)

                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","Sub_CelajeSubTrans")"><i class="fa fa-list"></i> Listado de mantenimientos</a>
                                            <button type="submit" class="btn blue">
                                                <i class="fa fa-plus"></i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END PAGE CONTENT INNER -->
    </div>
</div>

@section styles{
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />

    <link href="~/Scripts/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/plugins/switchery/switchery.min.css") rel="stylesheet">


}

@section script{
    <script src="~/Scripts/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/TooltipValidator1Anidacion.js")"></script>

    <script src="~/Scripts/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>
    <script src=@Url.Content("~/Content/plugins/switchery/switchery.min.js")></script>

    <!--datepicker-->
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/locales/bootstrap-datetimepicker.es.js" type="text/javascript"></script>
    <!--datepicker-->

    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/sweetalert/sweetalert.min.js")"></script>


    <script src="~/Scripts/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    @*<script src="~//assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>*@


    <script src="~/Scripts/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            inicializar_select2();

            function inicializar_select2() {
                $(".select2").select2({
                    placeholder: "Seleccione un elemento de la lista"
                });
            }


            fecha = new Date();
            fechaini = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 0, 0);
            fechafin = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 23, 59);
            $("#fechahora").datetimepicker({
                language: 'es',
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                format: 'dd/mm/yyyy ',
                linkFormat: 'dd/mm/yyyy ',
                showMeridian: 1,
                startDate: fechaini,
                endDate: fechafin,
                forceParse: 1,
                startView: 2,
                maxView: 2,
                linkField: 'fecha'
            }).datetimepicker('setDate', fecha);


            var Salideros = new Switchery(document.getElementById("hierba"));
            var Salideros = new Switchery(document.getElementById("desordenSub"));
            function toggleSwitchery(element, estado) {
                var estadoActual = element.is(':checked');
                if (estadoActual != estado) {
                    element.click();
                }
            }
        });
    </script>
}