@model Subestaciones.Models.PortaFusibles


@{
    ViewBag.Title = "Portafusible";
}

@*@section pagetitle{
        <div class="page-title">
            <h1>editar desconectivos tipo portafusibles</h1>
        </div>
    }*@




<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","InstalacionDesconectivos")">Lista de desconectivos</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Detelles portafusible</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-bars"></i>Detalles desconectivo tipo portafusible
                            </div>
                        </div>
                        <div class="portlet-body form">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id_EAdministrativa)
                                @Html.HiddenFor(model => model.Id_Portafusible)
                                @Html.HiddenFor(model => model.id_EAdministrativa_Prov)
                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row" style="display:none">
                                            @Html.ValidationMessageFor(model => model.Id_Fusible, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.Id_VoltajeN, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.CapacidadFusible, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.TipoFusible, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CodigoPortafusible, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.CodigoPortafusible, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TipoFuse, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.TipoFuse, ViewBag.tipoPortafusibleLista as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2", @disabled = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- BEGIN Portlet PORTLET DATOS del fusible-->
                                            <div class="portlet light">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <span class="caption-subject bold">Datos del fusible</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Id_Fusible, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.Id_Fusible, ViewBag.tipoFusible as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2", @disabled = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Id_VoltajeN, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.Id_VoltajeN, ViewBag.tension as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2", @disabled = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.CapacidadFusible, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.CapacidadFusible, ViewBag.capacidad as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2", @disabled = true })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END Portlet PORTLET datos del fusible-->


                                        </div>
                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","InstalacionDesconectivos")"><i class="fa fa-list"></i> Listado de desconectivos</a>
                                            <a class="btn btn-warning" href="@Url.Action("Edit", new { ea = Model.Id_EAdministrativa, id = Model.Id_Portafusible })"><i class="fa fa-edit"></i>Editar</a>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->
@section styles{
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />

}

@section script{


    <script src="@Url.Content("~/Scripts/TooltipValidator1Anidacion.js")"></script>



    <script src="~/Scripts/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            inicializar_select2();

            function inicializar_select2() {
                $(".select2").select2({
                    placeholder: "Seleccione un elemento de la lista"
                });
            }
            var tipoFuse = $("#tipoPortafusible").val();
            if (tipoFuse == 0) {
                $("#tipoPortafusible").val('Portafusible')
            }
            else
                $("#tipoPortafusible").val('Breaker');
        });

    </script>
}