@model Subestaciones.Models.SubMttoSubDistribucion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SubMttoSubDistribucion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TipoMantenimiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoMantenimiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Id_EAdministrativa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id_EAdministrativa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumAccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumAccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CoronacionCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CoronacionCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PinturaCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PinturaCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AterraminetoCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AterraminetoCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CoronacionPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CoronacionPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PinturaPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PinturaPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AterraminetoPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AterraminetoPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoAlumbrado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoAlumbrado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoAlumbrado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoAlumbrado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ControlAlumbrado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ControlAlumbrado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoFotoCelda)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoFotoCelda)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CantidadLamparas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CantidadLamparas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoPiso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoPiso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoPiso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoPiso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstOrdenPiso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstOrdenPiso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstAreaExterior)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstAreaExterior)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FranjaContraIncendio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FranjaContraIncendio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RealizadoPor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RealizadoPor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CartelesPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CartelesPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CartelesCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CartelesCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CandadoPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CandadoPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CantLamparasServicio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CantLamparasServicio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstParaFranklin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstParaFranklin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mantenido)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mantenido)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
