@model IEnumerable<Subestaciones.Models.Sub_NomCargadores>

@{ViewBag.Title = "Cargadores";}

@*@section pagetitle{
    <div class="page-title">
        <h1>Cargadores</h1>
    </div>
}*@


<link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Inicio</a>
                <i class="fa fa-circle"></i>
            </li>
           
            <li>
                <span>Cargadores del servicio de corriente directa</span>
            </li>
            
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="m-heading-1 border-green m-bordered">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6" style="text-align:start">

                            <a class="btn green btn-outline" href="@Url.Action("Create","Sub_NomCargadores")"><i class="fa fa-thumb-tack"></i> Nuevo</a> &emsp;
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Listado de tipos de cargadores 
                        </div>
                      
                    </div>
                    <div class="portlet-body form">
                        @using (Html.BeginForm("Index", "Sub_NomCargadores"))
                    {
                        @Html.AntiForgeryToken()
                        <!-- BEGIN FORM-->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            @*<i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase">Buttons</span>*@
                                        </div>
                                        <div class="tools"> </div>
                                    </div>
                                    <div class="portlet-body" id="TablaResumen">
                                        @Html.Partial("TablaCargadores", Model)
                                    </div>
                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                }
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
       

    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
@section styles {
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Scripts/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="~/Scripts/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />

    <!--morris-->
    @*<link href="~/Content/plugins/morris-js/morris.min.css" rel="stylesheet" />
        <!--spinkit-->
        <link href="~/Content/plugins/spinkit/css/spinkit.min.css" rel="stylesheet" />*@

}

@section script {
    <script src="~/Scripts/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>


    <script>
        var table = $('#datatable').dataTable({
            "language": {
                select: {
                    rows: {
                        _: "Seleccionados %d registros",
                        1: "1 Registro seleccionado"
                    }
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "Ningún dato disponible en esta tabla",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "lengthMenu": "_MENU_ Registros",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados"
            },
            buttons: [
                { extend: 'pdf', className: 'btn red default' },
                { extend: 'excel', className: 'btn green default ' },
                { extend: 'colvis', className: 'btn white default', text: 'Columnas' }
            ],
            responsive: true,
            select: true,

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "Todos"]
            ],

            "pageLength": 10,

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        }); 

        $('body').on('click', '.mt-sweetalert', function () {
            var idCargador = this.id;

            var baseUrl = $('base').attr('href');

            swal({
                title: $(this).data('title'),
                text: $(this).data('message'),
                type: $(this).data('type'),
                allowOutsideClick: $(this).data('allow-outside-click'),
                showConfirmButton: $(this).data('show-confirm-button'),
                showCancelButton: $(this).data('show-cancel-button'),
                confirmButtonClass: $(this).data('confirm-button-class'),
                cancelButtonClass: $(this).data('cancel-button-class'),

                closeOnConfirm: $(this).data('close-on-confirm'),
                closeOnCancel: $(this).data('close-on-cancel'),
                confirmButtonText: $(this).data('confirm-button-text'),
                cancelButtonText: $(this).data('cancel-button-text'),

            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: baseUrl + 'Sub_NomCargadores/Eliminar',
                        method: 'POST',
                        data: { id: idCargador },
                        success: function (data) {
                            if (data) {
                                swal({
                                    title: "¡Eliminado!",
                                    text: "El tipo de cargador seleccionado ha sido eliminado.",
                                    type: "success",
                                    confirmButtonText: "Cerrar",
                                    confirmButtonClass: "btn-primary"
                                });

                                $.ajax({
                                    url: baseUrl + 'Sub_NomCargadores/ListadoCargadores',
                                    method: "POST",
                                    data: {},
                                    success: function (data) {
                                        $('#TablaResumen').html(data);
                                      $('#datatable').dataTable({
                                            "language": {
                                                select: {
                                                    rows: {
                                                        _: "Seleccionados %d registros",
                                                        1: "1 Registro seleccionado"
                                                    }
                                                },
                                                "aria": {
                                                    "sortAscending": ": activate to sort column ascending",
                                                    "sortDescending": ": activate to sort column descending"
                                                },
                                                "emptyTable": "Ningún dato disponible en esta tabla",
                                                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                                                "lengthMenu": "_MENU_ Registros",
                                                "search": "Buscar:",
                                                "zeroRecords": "No se encontraron resultados"
                                            },
                                            buttons: [
                                                { extend: 'pdf', className: 'btn red default' },
                                                { extend: 'excel', className: 'btn green default ' },
                                                { extend: 'colvis', className: 'btn white default', text: 'Columnas' }
                                            ],
                                            responsive: true,

                                            "order": [
                                                [0, 'asc']
                                            ],

                                            "lengthMenu": [
                                                [5, 10, 15, 20, -1],
                                                [5, 10, 15, 20, "Todos"]
                                            ],

                                            "pageLength": 10,

                                            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                                        });
                                    }
                                });
                            } else {
                                swal({
                                    title: "¡Cancelado!",
                                    text: "¡No se pudo eliminar el tipo de cargador esta vinculado a un cargador!",
                                    type: "error",
                                    confirmButtonText: "Cerrar",
                                    confirmButtonClass: "btn-primary"
                                });
                            }
                        }
                    });
                } else {
                    swal("Cancelado", "Los acción de eliminar ha sido cancelada.", "error")
                }
            });
        });   
 
    </script>
}

