@model Subestaciones.Models.InstalacionDesconectivos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>InstalacionDesconectivos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CodigoNuevo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CodigoNuevo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Id_EAdministrativa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id_EAdministrativa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumAccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumAccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroFases)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroFases)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CorrienteNominal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CorrienteNominal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoInstalacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoInstalacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoSeccionalizador)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoSeccionalizador)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CircuitoA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CircuitoA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SeccionA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SeccionA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CircuitoB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CircuitoB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SeccionB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SeccionB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Funcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Funcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AjusteOperacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AjusteOperacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IdFusible)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdFusible)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Calle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Calle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Entrecalle1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Entrecalle1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EntreCalle2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EntreCalle2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BarrioPueblo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BarrioPueblo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sucursal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sucursal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UbicadaEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UbicadaEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TieneCorrienteA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TieneCorrienteA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TieneCorrienteB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TieneCorrienteB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TieneCorrienteC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TieneCorrienteC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SiempreVoltaje)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SiempreVoltaje)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientesExtras)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientesExtras)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstalacionAbrioA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstalacionAbrioA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstalacionAbrioB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstalacionAbrioB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstalacionAbrioC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstalacionAbrioC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaAbrioA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaAbrioA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaAbrioB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaAbrioB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaAbrioC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaAbrioC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.coddireccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.coddireccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Id_EAdireccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id_EAdireccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoOperativo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoOperativo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoFaseA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoFaseA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoFaseB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoFaseB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoFaseC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoFaseC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Automatico)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Automatico)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
