@model Subestaciones.Models.Clases.CertificacionSubDistViewModel


@{
    ViewBag.Title = "Certificación de la subestación de distribución";
}

@*@section pagetitle{
        <div class="page-title">
            <h1>Insertar banco de capacitor</h1>
        </div>
    }*@


<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Sub_Certificacion")">Lista de certificaciones</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Insertar</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-binoculars"></i>Insertar certificicaci&oacute;n de la subestaci&oacute;n de distribuci&oacute;n
                            </div>
                        </div>
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Create", "Sub_Certificacion", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))

                            {
                                @Html.ValidationSummary(false)
                                @Html.AntiForgeryToken()


                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row" style="display:none">
                                            @Html.ValidationMessageFor(model => model.DCertificaciones.CodigoSub, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.DCertificaciones.Fecha, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">Datos generales de la certificaci&oacute;n</div>
                                            <div class="panel-body">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.DCertificaciones.CodigoSub, htmlAttributes: new { @class = "control-label" })

                                                        @Html.DropDownListFor(model => model.DCertificaciones.CodigoSub, ViewBag.ListaSub as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.DCertificaciones.nombreOBE, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.DCertificaciones.nombreOBE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.HiddenFor(model => model.DCertificaciones.UEB)

                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    @Html.LabelFor(model => model.DCertificaciones.Fecha, htmlAttributes: new { @class = "control-label" })

                                                    <div class="input-group date" id="fechahora">
                                                        <input type="text" disabled class="form-control" id="termofechahora">
                                                        <span class="input-group-addon btn blue tooltips" disabled id="termografiafechahora" data-original-title="Seleccionar fecha">
                                                            <span class="fa fa-calendar"></span>
                                                            @*<button class="btn green" type="button">Go!</button>*@
                                                        </span>
                                                    </div>
                                                    @Html.HiddenFor(model => model.DCertificaciones.Fecha)

                                                </div>

                                            </div>
                                        </div>

                                        <!-- BEGIN ACCORDION PORTLET-->
                                        <div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list-ol"></i>Aspectos
                                                </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse"> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="panel-group accordion" id="Aspectos">
                                                    @{
                                                        var aspectoId = "";
                                                        int j = 0;
                                                        foreach (var A in ViewBag.Aspectos)
                                                        {
                                                            aspectoId = "aspecto_" + @A.NroAspecto.ToString();
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#Aspectos" href="#@aspectoId">
                                                                                        @A.NroAspecto-
                                                                                        @A.NombreAspecto

                                                                                    </a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="@aspectoId" class="panel-collapse collapse">
                                                                                <div class="panel-body">
                                                                                    <div id="SubAspectos" class="panel">

                                                                                        <table class="table col-md-12 compact" id="TablaSubAspectos">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>
                                                                                                        SubAspectos
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Cumplimiento
                                                                                                    </th>
                                                                                                    <th>
                                                                                                        Responsable
                                                                                                    </th>
                                                                                                </tr>

                                                                                            </thead>
                                                                                            <tbody>
                                                                                                @{
                                                                                                    if (Model != null && ViewBag.SubAspectos != null)
                                                                                                    {
                                                                                                        foreach (var subA in ViewBag.SubAspectos)
                                                                                                        {
                                                                                                            if (A.NroAspecto == subA.NroAspecto)
                                                                                                            {
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    @subA.NroAspecto.@subA.NroSubAspecto @subA.NombreSubAspecto
                                                                                                                    @Html.HiddenFor(model => Model.Detalles[j].NroAspecto, htmlAttributes:new { @Value = subA.NroAspecto })
                                                                                                                    @Html.HiddenFor(model => Model.Detalles[j].NroSubAspecto, htmlAttributes: new { @Value = subA.NroSubAspecto })
                                                                                                                </td>
                                                                                                                <td>
                                                                                                                    @Html.DropDownListFor(model => Model.Detalles[j].Cumplimiento, ViewBag.cumplimiento as IEnumerable<SelectListItem>, "", htmlAttributes: new { @class = "form-control select2", @id = "Detalles_Cumplimiento_" + j })
                                                                                                                </td>
                                                                                                                <td>
                                                                                                                    @Html.DropDownListFor(model => Model.Detalles[j].Responsable, ViewBag.responsable as IEnumerable<SelectListItem>, "", htmlAttributes: new { @class = "form-control select2", @id = "Detalles_Responsable_" + j })
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                                j++;
                                                                                                                                                }
                                                                                                                                            }
                                                                                                                                        }
                                                                                                                                    }
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                        }
                                                                                                                            }
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END ACCORDION PORTLET-->


                                        <div id="Comision" class="panel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5>

                                                        Comisi&oacute;n

                                                    </h5>
                                                    <div>
                                                        <table class="table col-md-10 compact" id="TablaComision">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Nombre
                                                                    </th>
                                                                    <th>
                                                                        Cargo
                                                                    </th>

                                                                </tr>

                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    if (Model != null && Model.Comision != null)
                                                                    {
                                                                        for (int i = 0; i < Model.Comision.Count; i++)
                                                                        {
                                                                            <tr>
                                                                                @Html.HiddenFor(model => model.Comision[i].Id_EACertificacion)
                                                                                @Html.HiddenFor(model => model.Comision[i].Id_CertificacionComision)
                                                                                @Html.HiddenFor(model => model.Comision[i].NumAccionCertificacion)
                                                                                <td>
                                                                                    @Html.EditorFor(model => model.Comision[i].NombreComision, new { htmlAttributes = new { @id = "Comision_NombreComision_" + i } })
                                                                                    @Html.ValidationMessageFor(model => model.Comision[i].NombreComision, "", new { @class = "text-danger" })
                                                                                </td>
                                                                                <td>
                                                                                    @Html.EditorFor(model => model.Comision[i].CargoComision, new { htmlAttributes = new { @id = "Comision_CargoComision_" + i } })
                                                                                    @Html.ValidationMessageFor(model => model.Comision[i].CargoComision, "", new { @class = "text-danger" })
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="text-center">
                                                        <button class="btn btn-primary btn-circle" type="button" id="AddComision">Adicionar comisi&oacute;n</button>
                                                        <button class="btn btn-primary btn-circle" type="button" id="DelComision">Eliminar comisi&oacute;n</button>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label " for="observaciones">Observaciones</label>
                                                    <textarea class="form-control" cols="20" data-val="true" data-val-length="El campo Observaciones debe ser una cadena con una longitud máxima de 750." data-val-length-max="750" id="DCertificaciones_Observaciones" name="DCertificaciones_Observaciones" rows="2"></textarea>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="observaciones" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","Sub_Certificacion")"><i class="fa fa-list"></i> Listado de certificaciones</a>
                                            <button type="submit" class="btn blue">
                                                <i class="fa fa-plus"></i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->

@section styles{
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />

    <link href="~/Scripts/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/plugins/switchery/switchery.min.css") rel="stylesheet">


}

                                                                                                                    @section script{
    <script src="~/Scripts/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/TooltipValidator1Anidacion.js")"></script>

    <script src="~/Scripts/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>

    <script src=@Url.Content("~/Content/plugins/switchery/switchery.min.js")></script>


    <!--datepicker-->
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/locales/bootstrap-datetimepicker.es.js" type="text/javascript"></script>
    <!--datepicker-->

    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/sweetalert/sweetalert.min.js")"></script>


    <script src="~/Scripts/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    @*<script src="~//assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>*@


    <script src="~/Scripts/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            inicializar_select2();
            var baseUrl = $('base').attr('href');

            function inicializar_select2() {
                $(".select2").select2({
                    placeholder: "Seleccione el valor"
                });
            }

            fecha = new Date();
            fechaini = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 0, 0);
            fechafin = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 23, 59);

             $("#fechahora").datetimepicker({
                language: 'es',
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    format: 'dd/mm/yyyy ',
                    linkFormat: 'dd/mm/yyyy ',
                    showMeridian: 1,
                    startDate: fechaini,
                    endDate: fechafin,
                    forceParse: 1,
                    startView: 2,
                    maxView: 2,
                    linkField: 'DCertificaciones_Fecha'
            }).datetimepicker('setDate', fecha);


             $("#DCertificaciones_CodigoSub").change(function () {
                 var url = baseUrl + "Sub_Certificacion/UEB";
                 $.ajax({
                     url: url,
                     method: "GET",
                     data: {
                         codSub: function () { return $("#DCertificaciones_CodigoSub").val() }
                     },
                     success: function (data) {

                         $("#DCertificaciones_nombreOBE").val(data);
                     }
                 });

                 var url = baseUrl + "Sub_Certificacion/idUEB";
                 $.ajax({
                     url: url,
                     method: "GET",
                     data: {
                         codSub: function () { return $("#DCertificaciones_CodigoSub").val() }
                     },
                     success: function (data) {

                         $("#DCertificaciones_UEB").val(data);
                     }
                 });
             })

            var ComisionCount = @ViewBag.ComisionCount;
            var AspectosCount= @ViewBag.ComisionCount;
             //agregar elemento a la tabla comision
            $("#AddComision").click(function () {
                var Sub = $("#DCertificaciones_CodigoSub").val();
                if (Sub == "") {
                    swal({
                        title: "¡Información!",
                        text: "Debe especificar la subestación.",
                        type: "success",
                        confirmButtonText: "Aceptar",
                        confirmButtonClass: "btn-primary"
                    });
                } else

                {
                var NombreName = "Comision[" + ComisionCount + "].NombreComision";
                var NombreId = "Comision_NombreComision_" + ComisionCount;
                var Nombretd = '<td class="col-md-4"><input type="text" name="' + NombreName + '" id="' + NombreId + '"/></td>';

                var CargoName = "Comision[" + ComisionCount + "].CargoComision";
                var CargoId = "Comision_CargoComision_" + ComisionCount;
                var Cargotd = '<td class="col-md-4"><input type="text" name="' + CargoName + '" id="' + CargoId + '"/></td>';

                $("#TablaComision tbody").append('<tr>' + Nombretd + Cargotd + '</tr>');
            }
            })

            //eliminar elemento de la tabla comision
            $("#DelComision").click(function () {
                if ($("#TablaComision tr").length > 1) {
                    $("#TablaComision tr:last").remove();
                    ComisionCount--;
                }

            });
           
            });
    </script>
}
