@model Subestaciones.Models.Clases.AnalisisGD


@{
    ViewBag.Title = "Pruebas de aceite - análisis gases disueltos";
}

@*@section pagetitle{
        <div class="page-title">
            <h1>Insertar prueba de aceite - analisis gases disueltos</h1>
        </div>
    }*@


<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Sub_PruebaAceiteAGDisueltos")">Lista de pruebas</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Detalles</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-binoculars"></i>Detales prueba de aceite - an&aacute;lisis gases disueltos
                            </div>
                        </div>
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Edit", "Sub_PruebaAceiteAGDisueltos", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))

                            {
                                @Html.ValidationSummary(false)
                                @Html.AntiForgeryToken()


                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row" style="display:none">
                                            @Html.ValidationMessageFor(model => model.Id_Transf, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.subestacion, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">Datos generales de la prueba</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.subestacion, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.subestacion, new { htmlAttributes = new { @class = "form-control", @id = "pesoA", @readonly = "readonly" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control datepicker", @disabled = "disabled", @id = "fecha" } })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        @Html.HiddenFor(model => model.Id_Transf)
                                                        @Html.HiddenFor(model => model.Id_EAdminTransf)
                                                        @Html.HiddenFor(model => model.CodigoSub)
                                                        @Html.HiddenFor(model => model.f)
                                                        @Html.HiddenFor(model => model.fRec)
                                                        @Html.HiddenFor(model => model.fIni)
                                                        @Html.HiddenFor(model => model.fSelec)
                                                        @Html.HiddenFor(model => model.fTer)

                                                        <div id="_VPListaTransf">
                                                            <div class="row">
                                                                <div class="form-group col-md-4">
                                                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "pesoA", @readonly = "readonly" } })
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    @Html.LabelFor(model => model.Numemp, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Numemp, new { htmlAttributes = new { @class = "form-control", @id = "nuEmp", @readonly = "readonly" } })
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    @Html.LabelFor(model => model.NoSerie, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.NoSerie, new { htmlAttributes = new { @class = "form-control", @id = "nSerie", @readonly = "readonly" } })
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    @Html.LabelFor(model => model.capacidad, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.capacidad, new { htmlAttributes = new { @class = "form-control", @id = "cap", @readonly = "readonly" } })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-2">
                                                                    @Html.LabelFor(model => model.PesoAceite, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.PesoAceite, new { htmlAttributes = new { @class = "form-control", @id = "pesoA", @readonly = "readonly" } })
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    @Html.LabelFor(model => model.AnnoFabricacion, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.AnnoFabricacion, new { htmlAttributes = new { @class = "form-control", @id = "anho", @readonly = "readonly" } })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">Datos del an&aacute;lisis qu&iacute;mico reducido</div>
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.RealizadoenLaboraorio, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.RealizadoenLaboraorio, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.EjecutadoPor, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.EjecutadoPor, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.RevisadoPor, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.RevisadoPor, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(model => model.FechaSeleccion, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.FechaSeleccion, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(model => model.FechaRecepcion, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.FechaRecepcion, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(model => model.FechaTerminacion, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.FechaTerminacion, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.MuestreoSegProc, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.MuestreoSegProc, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.MetodoEnsayo, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.MetodoEnsayo, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.NumeroControl, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.NumeroControl, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.TempAceite, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.TempAceite, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel">

                                                    <div class="panel-heading">Gases combustibles</div>
                                                    <div class="panel-body">
                                                        <div class="row">

                                                            <div class=" col-md-6" id="TablaGases">

                                                                <table style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Gases</th>
                                                                            <th>Unidad</th>
                                                                            <th style="width:80px" align="center">Valor</th>
                                                                            <th style="width:20px"></th>
                                                                            <th>Valores condenatorios</th>
                                                                        </tr>

                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                H2 Hidrógeno
                                                                            </td>
                                                                            <td>
                                                                                ppm
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.H2Hidrogeno, new { htmlAttributes = new { @class = "form-control" } })
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="radio" id="radio1" name="radio" value="H2" checked />

                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                                CH4 Metano
                                                                            </td>
                                                                            <td>
                                                                                ppm
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.CH4Metano, new { htmlAttributes = new { @class = "form-control" } })
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="radio" id="radio2" name="radio" value="CH4" />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                C2H6 Etano
                                                                            </td>
                                                                            <td>
                                                                                ppm
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.C2H6Etano, new { htmlAttributes = new { @class = "form-control" } })
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="radio" id="radio3" name="radio" value="C2H6" />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                C2H4 Etileno
                                                                            </td>
                                                                            <td>
                                                                                ppm
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.C2H4Etileno, new { htmlAttributes = new { @class = "form-control" } })
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="radio" id="radio4" name="radio" value="C2H4" />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                C2H2 Acetileno
                                                                            </td>
                                                                            <td>
                                                                                ppm
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.C2H2Acetileno, new { htmlAttributes = new { @class = "form-control" } })
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="radio" id="radio5" name="radio" value="C2H2" />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                CO Monóxido de Carbono
                                                                            </td>
                                                                            <td>
                                                                                ppm
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.COMonoxidoCarbono, new { htmlAttributes = new { @class = "form-control" } })
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="radio" id="radio6" name="radio" value="CO" />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                CO2 Dióxido de Carbono
                                                                            </td>
                                                                            <td>
                                                                                ppm
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.CO2DioxidoCarbono, new { htmlAttributes = new { @class = "form-control" } })
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="radio" id="radio7" name="radio" value="CO2" />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Total de Gases combustibles
                                                                            </td>
                                                                            <td></td>
                                                                            <td>
                                                                                @*//suma de lo anterior*@
                                                                                <div id="totalGases"></div>
                                                                            </td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div id="nombre"></div>
                                                            <div id="grafic" class="col-md-6" style="width:550px; height:500px; max-height: 600px;"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","Sub_PruebaAceiteAGDisueltos")"><i class="fa fa-list"></i> Listado de mantenimientos</a>
                                            <button type="submit" class="btn blue">
                                                <i class="fa fa-plus"></i> Guardar
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->

@section styles{
    <link href="~/Scripts/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

    <link href=@Url.Content("~/Content/plugins/switchery/switchery.min.css") rel="stylesheet">

    <link href="~/Scripts/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />

}
@section script{
    <script src="~/Scripts/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src=@Url.Content("~/Content/plugins/switchery/switchery.min.js")></script>

    <!--datepicker-->
    <script src="~/Scripts/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" type="text/javascript"></script>
    <!--datepicker-->
    <!--amchart4 -->
    <script src="~/Scripts/assets/global/plugins/amcharts4/core.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/amcharts4/charts.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/amcharts4/animated.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/amcharts4/lang/es_ES.js" type="text/javascript"></script>

    <!--amchart4 -->
    <script>
        $(document).ready(function () {
            transf = $("#Id_Transf").val();
            idEA = $("#Id_EAdminTransf").val();
            codSub = $("#CodigoSub").val();

            CalcularTotalGases($("#H2Hidrogeno").val(), $("#CH4Metano").val(), $("#C2H6Etano").val(), $("#C2H4Etileno").val(), $("#C2H2Acetileno").val(), $("#COMonoxidoCarbono").val(), $("#CO2DioxidoCarbono").val());
            function CalcularTotalGases(g1, g2, g3, g4, g5, g6, g7) {
                var total = g1 * 1 + g2 * 1 + g3 * 1 + g4 * 1 + g5 * 1 + g6 * 1 + g7 * 1;
                document.getElementById("totalGases").innerHTML = "<strong>" + total + "</strong>";


            }

            $('.datepicker').datepicker({
                language: 'es',
                todayHighlight: true,
                autoclose: true,
                format: 'dd/mm/yyyy'
            }).datepicker();

            let valorfecha = $("#fecha").val();
            let newfecha = valorfecha.split(" ")[0];
            let mesFecha = newfecha.split("/")[0];
            let diaFecha = newfecha.split("/")[1];
            let annoFecha = newfecha.split("/")[2];
            let finalFecha = `${diaFecha}/${mesFecha}/${annoFecha}`;
            let valorF = `${annoFecha}-${mesFecha}-${diaFecha}`;

            $("#fecha").val(finalFecha);

            $("input[name=radio]").change(function () {
                var valores = $(this).val();
                if (valores == "H2") {
                    document.getElementById("nombre").innerHTML = "<strong>H2 Hidrógeno</strong>";
                    grafica("H2Hidrogeno");
                }
                else
                    if (valores == "CH4") {
                        document.getElementById("nombre").innerHTML = "<strong>CH4 Metano</strong>";
                        grafica("CH4Metano");
                    }
                    else
                        if (valores == "C2H6") {
                            document.getElementById("nombre").innerHTML = "<strong>C2H6 Etano</strong>";
                            grafica("C2H6Etano");
                        }
                        else
                            if (valores == "C2H4") {
                                document.getElementById("nombre").innerHTML = "<strong>C2H4 Etileno</strong>";
                                grafica("C2H4Etileno");
                            }
                            else
                                if (valores == "C2H2") {
                                    document.getElementById("nombre").innerHTML = "<strong>C2H2 Acetileno</strong>";
                                    grafica("C2H2Acetileno");
                                }
                                else
                                    if (valores == "CO") {
                                        document.getElementById("nombre").innerHTML = "<strong>CO Monóxido de Carbono</strong>";
                                        grafica("COMonoxidoCarbono");
                                    }
                                    else
                                        if (valores == "CO2") {
                                            document.getElementById("nombre").innerHTML = "<strong>CO2 Dióxido de Carbono</strong>";
                                            grafica("CO2DioxidoCarbono");
                                        }
            });


            var datos = [];
            $.ajax({
            url: '@Url.Action("ObtenerPruebas", "Sub_PruebaAceiteAGDisueltos")',
                method: "POST",
                data: { t: transf, EA: idEA, cod : codSub },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        datos.push(data[i]);
                        datos[i].Fecha = new Date(parseInt(datos[i].Fecha.substr(6)));
                        $("input:radio:first").prop("checked", true).trigger("change");

                       // datos[i].Fecha = new Date(parseInt(datos[i].Fecha.replace(/(^.*\()|([+-].*$)/g, '')));
                        //datos[i].Fecha = new Date(JSON.parse(datos[i].Fecha));
                    }
                }
            });

            $("#form").submit(function () {
                $("#Fecha").removeAttr('disabled');

                //$('#f').val(moment(moment($('#Fecha').val())._d).format("YYYY-MM-DD"));

                $('#f').val(valorF);
                $('#fSelec').val(moment(moment($('#FechaSeleccion').datepicker('getDate'))._d).format("YYYY-MM-DD"));
                $('#fIni').val(moment(moment($('#FechaInicio').datepicker('getDate'))._d).format("YYYY-MM-DD"));
                $('#fRec').val(moment(moment($('#FechaRecepcion').datepicker('getDate'))._d).format("YYYY-MM-DD"));
                $('#fTer').val(moment(moment($('#FechaTerminacion').datepicker('getDate'))._d).format("YYYY-MM-DD"));
            });

            function grafica(valorY) {
                am4core.useTheme(am4themes_animated);


                var chart = am4core.create("grafic", am4charts.XYChart);
                chart.paddingRight = 20;
                chart.data = datos;
                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis.renderer.grid.template.location = 0;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.tooltip.disabled = true;
                valueAxis.renderer.minWidth = 35;

                var series = chart.series.push(new am4charts.LineSeries());
                series.dataFields.dateX = "Fecha";
                series.dataFields.valueY = valorY;
                series.tooltipText = "{valueY}";
                series.tooltip.pointerOrientation = "vertical";
                series.tooltip.background.fillOpacity = 0.5;

                chart.cursor = new am4charts.XYCursor();
                chart.cursor.snapToSeries = series;
                chart.cursor.xAxis = dateAxis;

                var scrollbarX = new am4charts.XYChartScrollbar();
                scrollbarX.series.push(series);
                chart.scrollbarX = scrollbarX;


            }

        })
    </script>
}
