@model Subestaciones.Models.Sub_CelajeSubDistribucion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Sub_CelajeSubDistribucion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.realizadoPor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.realizadoPor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.numAccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.numAccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.id_EAdministrativa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.id_EAdministrativa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutAFaseA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutAFaseA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutBFaseA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutBFaseA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutAFaseB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutAFaseB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutBFaseB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutBFaseB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutAFaseC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutAFaseC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutBFaseC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutBFaseC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutBypassFaseA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutBypassFaseA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutBypassFaseB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutBypassFaseB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dropOutBypassFaseC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dropOutBypassFaseC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorAltaSalidero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorAltaSalidero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorAltaNAceite)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorAltaNAceite)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorAltaPintura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorAltaPintura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorAltaCuentaOP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorAltaCuentaOP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorBajaSalidero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorBajaSalidero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorBajaNAceite)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorBajaNAceite)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorBajaPintura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorBajaPintura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.interruptorBajaCuentaOP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.interruptorBajaCuentaOP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pRayosAlta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pRayosAlta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pRayosBaja)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pRayosBaja)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.observaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.observaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mallaTSub)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mallaTSub)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.mallaTCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.mallaTCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.hierba)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hierba)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.desordenSub)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.desordenSub)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estadoCerca)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estadoCerca)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estadoPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estadoPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.otrasInformaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.otrasInformaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estadoCarteles)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estadoCarteles)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estadoAlumbrado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estadoAlumbrado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estadoCandadoPuerta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estadoCandadoPuerta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tipoCelaje)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tipoCelaje)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
