@model Subestaciones.Models.Sub_MttoDistribDesconectivos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Sub_MttoDistribDesconectivos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EstLimpiezaTanque)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstLimpiezaTanque)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstLimpiezaGabinete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstLimpiezaGabinete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstPintura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstPintura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstAterramTanque)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstAterramTanque)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstAterramGabinete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstAterramGabinete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PresionSF6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PresionSF6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NroOperaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NroOperaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PorcDesgasteFaseA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PorcDesgasteFaseA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PorcDesgasteFaseB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PorcDesgasteFaseB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PorcDesgasteFaseC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PorcDesgasteFaseC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PruebasFuncionales)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PruebasFuncionales)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstRotulos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstRotulos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistContactoFaseA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistContactoFaseA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistContactoFaseB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistContactoFaseB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistContactoFaseC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistContactoFaseC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseAET)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseAET)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseBET)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseBET)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseCET)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseCET)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseAST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseAST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseBST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseBST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseCST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseCST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseAEST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseAEST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseBEST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseBEST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResistAislamFaseCEST)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResistAislamFaseCEST)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ovservaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ovservaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LimpiezaAislamiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LimpiezaAislamiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LimpiezaContactos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LimpiezaContactos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pintura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pintura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MttoMando)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MttoMando)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Aterramiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Aterramiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerificacionCapacidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerificacionCapacidad)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
