@model Subestaciones.Models.Clases.Sub_MttoBateriasEstacionariasViewModel

@{
    ViewBag.Title = "Editar el mantenimiento de la baterías estacionarías";
}

<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Sub_MttoBateriasEstacionarias")">Lista de mantenimientos</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Editar</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-binoculars"></i>Editar el mantenimiento de la batería estacionaría
                            </div>
                        </div>
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Edit", "Sub_MttoBateriasEstacionarias", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))

                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()


                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row" style="text-align: center; font-size:20px">
                                            @Html.ValidationMessageFor(model => model.Sub_MBE.MensajeExistenciaMtto, "", new { @class = "text-danger" })

                                            @Html.HiddenFor(model => model.Sub_MBE.id_Bateria, new { @id = "id_Bateria" })
                                            @Html.HiddenFor(model => model.Sub_MBE.EA_RedCD, new { @id = "EA_RedCD" })
                                            @Html.HiddenFor(model => model.DatosCBBVM.TipoBateria)

                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">Datos generales del mantenimiento</div>
                                            <div class="panel-body">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MBE.subestacion, htmlAttributes: new { @class = "control-label" })

                                                        @Html.DropDownListFor(model => model.Sub_MBE.subestacion, ViewBag.ListaSub as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2", @id = "codSub", @disabled = true })
                                                        @Html.ValidationMessageFor(model => model.Sub_MBE.subestacion, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MBE.TipoMtto, htmlAttributes: new { @class = "control-label" })

                                                        @Html.DropDownListFor(model => model.Sub_MBE.TipoMtto, ViewBag.TiposMtto as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.Sub_MBE.TipoMtto, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MBE.RealizadoPor, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.Sub_MBE.RealizadoPor, ViewBag.personal as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.Sub_MBE.RealizadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.Sub_MBE.fechaMtto, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Sub_MBE.fechaMtto, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MBE.Mantenido, htmlAttributes: new { @class = "control-label " })
                                                        <br />
                                                        @Html.EditorFor(model => model.Sub_MBE.Mantenido.Value, new
                                                        {
                                                            htmlAttributes = new
                                                            {
                                                                Name = "Sub_MBE.Mantenido",
                                                                @id = "Sub_MBE_Mantenido",
                                                                @class = "form-control js-switch"
                                                            }
                                                        })
                                                        @Html.ValidationMessageFor(model => model.Sub_MBE.Mantenido, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">Datos de chapa del banco  de baterías</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarBB">
                                                            @Html.LabelFor(model => model.DatosCBBVM.TipoBateria, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.DatosCBBVM.Id_Bateria, ViewBag.TipoB as SelectList,
 "Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarCapacidad">
                                                            @Html.LabelFor(model => model.DatosCBBVM.TensionBateria, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.DatosCBBVM.TensionBateria, new { htmlAttributes = new { @class = "form-control", @id = "tension", @disabled = true } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarClase">
                                                            @Html.LabelFor(model => model.DatosCBBVM.ClaseBateria, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.DatosCBBVM.ClaseBateria, new { htmlAttributes = new { @class = "form-control", @id = "clase", @disabled = true } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarClase">
                                                            @Html.LabelFor(model => model.DatosCBBVM.CapacidadBateria, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.DatosCBBVM.CapacidadBateria, new { htmlAttributes = new { @class = "form-control", @id = "capacidad", @disabled = true } })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarClase">
                                                            @Html.LabelFor(model => model.DatosCBBVM.NombreServicioCD, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.DatosCBBVM.NombreServicioCD, new { htmlAttributes = new { @class = "form-control", @id = "nombreServicioCD", @disabled = true } })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">Datos generales del mantenimiento a baterías estacionarías</div>

                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.EstadoExtVasos, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.Sub_MBE.EstadoExtVasos, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.EstadoAprieteBornes, htmlAttributes: new { @class = "control-label" })
                                                            <div class="radio">
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.EstadoAprieteBornes, 1)
                                                                    Sí
                                                                </label>
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.EstadoAprieteBornes, 0)
                                                                    No
                                                                </label>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Sub_MBE.EstadoAprieteBornes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.LimpiezaBornes, htmlAttributes: new { @class = "control-label" })
                                                            <div class="radio">
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.LimpiezaBornes, 1)
                                                                    Sí
                                                                </label>
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.LimpiezaBornes, 0)
                                                                    No
                                                                </label>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Sub_MBE.LimpiezaBornes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.AprieteBornes, htmlAttributes: new { @class = "control-label" })
                                                            <div class="radio">
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.AprieteBornes, 1)
                                                                    Sí
                                                                </label>
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.AprieteBornes, 0)
                                                                    No
                                                                </label>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Sub_MBE.AprieteBornes, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.AplicacionVaselina, htmlAttributes: new { @class = "control-label" })
                                                            <div class="radio">
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.AplicacionVaselina, 1)
                                                                    Sí
                                                                </label>
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.AplicacionVaselina, 0)
                                                                    No
                                                                </label>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Sub_MBE.AplicacionVaselina, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.LimpiezaPanelBaterias, htmlAttributes: new { @class = "control-label" })
                                                            <div class="radio">
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.LimpiezaPanelBaterias, 1)
                                                                    Sí
                                                                </label>
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.LimpiezaPanelBaterias, 0)
                                                                    No
                                                                </label>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Sub_MBE.LimpiezaPanelBaterias, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.LimpiezaPanelCargador, htmlAttributes: new { @class = "control-label" })
                                                            <div class="radio">
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.LimpiezaPanelCargador, 1)
                                                                    Sí
                                                                </label>
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.LimpiezaPanelCargador, 0)
                                                                    No
                                                                </label>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Sub_MBE.LimpiezaPanelCargador, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.AterramientoPaneles, htmlAttributes: new { @class = "control-label" })
                                                            <div class="radio">
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.AterramientoPaneles, 1)
                                                                    Sí
                                                                </label>
                                                                <label>
                                                                    @Html.RadioButtonFor(model => model.Sub_MBE.AterramientoPaneles, 0)
                                                                    No
                                                                </label>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.Sub_MBE.AterramientoPaneles, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Sub_MBE.NivelElectrolito, htmlAttributes: new { @class = "control-label" })

                                                            @Html.DropDownListFor(model => model.Sub_MBE.NivelElectrolito, ViewBag.nivel as IEnumerable<SelectListItem>,
    "Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label " for="Observaciones">Observaciones</label>
                                                <textarea class="form-control" cols="20" data-val="true" data-val-length="El campo Observaciones debe ser una cadena con una longitud máxima de 750." data-val-length-max="750" id="Sub_MBE_Observaciones" name="Sub_MBE.Observaciones" rows="5">@ViewBag.Observaciones</textarea>
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="tabbable-line boxless tabbable-reversed ">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#tabTransf_2" data-toggle="tab" id="tabTransf2">Datos de los vasos </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tabTransf_3" data-toggle="tab" id="tabTransf3">Instrumentos utilizados durante el mantenimiento </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tabTransf_2">
                                                        <div class="panel-body">
                                                            <div class=" col-md-12" id="TablaSub_MBEV">

                                                                <table style="width:50%" class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Nro. Vasos</th>
                                                                            <th id="densidad">Densidad (mg/cm3)</th>
                                                                            <th id="voltaje">Voltaje (V)</th>
                                                                            <th id="temp">Temperatura (°C)</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            if (Model != null && Model.Sub_MBEV != null)
                                                                            {
                                                                                for (int i = 0; i < ViewBag.nroVasos; i++)
                                                                                {
                                                                                    <tr>

                                                                                        <td>
                                                                                            @Html.HiddenFor(model => model.Sub_MBEV[i].id_Bateria)
                                                                                            @Html.HiddenFor(model => model.Sub_MBEV[i].id_MttoBatEstacionarias)
                                                                                            @Html.HiddenFor(model => model.Sub_MBEV[i].EA_RedCD)
                                                                                            @Html.HiddenFor(model => model.Sub_MBEV[i].subestacion)
                                                                                            @Html.TextBoxFor(model => model.Sub_MBEV[i].nroVaso, new { @class = "col-md-2 form-control", @readonly = "readonly", @id = "Sub_MBEV_nroVaso" + i })
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.TextBoxFor(model => model.Sub_MBEV[i].densidad, new { @class = "col-md-2 form-control", @id = "Sub_MBEV_densidad" + i })
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.TextBoxFor(model => model.Sub_MBEV[i].voltaje, new { @class = "col-md-2 form-control", @id = "Sub_MBEV_voltaje" + i })
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.TextBoxFor(model => model.Sub_MBEV[i].temperatura, new { @class = "col-md-2 form-control", @id = "Sub_MBEV_temperatura" + i })
                                                                                        </td>

                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="tabTransf_3">
                                                        <div class="panel-body">
                                                            <div id="bootstrap_alerts_instrumentos"> </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(model => model.Sub_MBEI.Id_InstrumentoMedicion, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.DropDownListFor(model => model.Sub_MBEI.Id_InstrumentoMedicion, ViewBag.Instrumento as SelectList,
                "Seleccione un elemento de la lista", htmlAttributes: new { @class = "select2" })
                                                                        @Html.ValidationMessageFor(model => model.Sub_MBEI.Id_InstrumentoMedicion, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <p>
                                                                    <div class="col-md-2" style="margin-top: 4px">
                                                                        <div class="form-group">
                                                                            <a class="btn blue" href="javascript:;" id="_insertarInstrumentosAction"><i class="fa fa-angle-right"></i> Insertar</a>
                                                                        </div>
                                                                    </div>
                                                                </p>
                                                            </div>
                                                            <div id="TablaInstrumentosBateriasEstacionarias"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","Sub_MttoBateriasEstacionarias")"><i class="fa fa-list"></i> Listado de mantenimientos</a>
                                            <button type="submit" class="btn blue">
                                                <i class="fa fa-plus"></i> Actualizar
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->

@section styles{
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />

    <link href="~/Scripts/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/plugins/switchery/switchery.min.css") rel="stylesheet">

    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.base.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.orange.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.windowsphone.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.highcontrast.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.light.css" rel="stylesheet" type="text/css" />
}

@section script{
    <script src="~/Scripts/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/TooltipValidator1Anidacion.js")"></script>

    <script src="~/Scripts/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>

    <script src=@Url.Content("~/Content/plugins/switchery/switchery.min.js")></script>


    <!--datepicker-->
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/locales/bootstrap-datetimepicker.es.js" type="text/javascript"></script>
    <!--datepicker-->

    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/sweetalert/sweetalert.min.js")"></script>


    <script src="~/Scripts/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    @*<script src="~//assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>*@


    <script src="~/Scripts/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/plugins/jqwidgets/jqxcore.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxdata.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxbuttons.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxscrollbar.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxmenu.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxwindow.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.edit.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxpanel.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.selection.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.aggregates.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxdata.export.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.export.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.grouping.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.pager.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxdropdownlist.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxlistbox.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.sort.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.columnsresize.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.filter.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/localization.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxnumberinput.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxcombobox.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxinput.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxcheckbox.js" type="text/javascript"></script>

    <script>
        var idMBE = @ViewBag.IdMttoBE;
        var idB = @ViewBag.IdBateria;
        var ea_red = @ViewBag.RedEA;

        $(document).ready(function () {
            inicializar_select2();

            function inicializar_select2() {
                $(".select2").select2({
                    placeholder: "Seleccione un elemento de la lista"
                });
            }

            fecha = new Date();
            fechaini = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 0, 0);
            fechafin = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 23, 59);

            $("#fechahora").datetimepicker({
                language: 'es',
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                dateFormat: 'dd/mm/yyyy',
                linkFormat: 'dd/mm/yyyy',
                showMeridian: 1,
                startDate: fechaini,
                endDate: fechafin,
                forceParse: 1,
                startView: 2,
                maxView: 2
            }).datetimepicker('setDate', fecha);

            $('.js-switch').bootstrapSwitch({
                onText: "Si",
                offText: "No"
            });

            let valorfecha = $("#Sub_MBE_fechaMtto").val();
            let newfecha = valorfecha.split(" ")[0];
            let diafecha = newfecha.split("/")[0];
            let mesfecha = newfecha.split("/")[1];
            let annofecha = newfecha.split("/")[2];
            let finalFecha = `${annofecha}-${mesfecha}-${diafecha}`;
            $('#Sub_MBE_fechaMtto').val(`${diafecha}/${mesfecha}/${annofecha}`)

            $("#cargarBB").change(function () {
                var TB = $("#TipoBateria").val();
                var CS = $("#codSub").val();
                if (TB != "") {
                    $.ajax({
                        url: '@Url.Action("Cargar_datos_Bateria", "Sub_MttoBateriasEstacionarias")',
                        type: "POST",
                        datatype: "json",
                        data: { id_tipoBateria: TB, codSub: CS },
                        success: function (data) {
                            $("#tension").val(data[0].TensionBateria);
                            $("#clase").val(data[0].ClaseBateria);
                            $("#capacidad").val(data[0].CapacidadBateria);
                            $("#nombreServicioCD").val(data[0].NombreServicioCD);
                            $("#id_Bateria").val(data[0].Id_Bateria);
                            $("#EA_RedCD").val(data[0].id_EAdministrativa);
                        }
                    });
                } else {
                    $("#tension").val("");
                    $("#clase").val("");
                    $("#capacidad").val("");
                    $("#nombreServicioCD").val("");
                }
            });

            $("#_insertarInstrumentosAction").on('click', function () {
                var instrumento = $("#Sub_MBEI_Id_InstrumentoMedicion option:selected").val();

                var datosValidos = true;
                var nombreCampo = "";
                if (instrumento == "" || instrumento == null || instrumento == 0) {
                    nombreCampo = "instrumento";
                    datosValidos = false;
                }

                if (!datosValidos) {
                    App.alert({
                        container: "#bootstrap_alerts_instrumentos", // alerts parent container(by default placed after the page breadcrumbs)
                        place: "prepend", // append or prepent in container
                        type: "danger",  // alert's type
                        message: "Debe seleccionar un " + nombreCampo + ".",  // alert's message
                        close: 1, // make alert closable
                        reset: 1, // close all previouse alerts first
                        focus: 1, // auto scroll to the alert after shown
                        closeInSeconds: 5,//, // auto close after defined seconds
                        icon: "fa fa-danger" // put icon before the message
                    });
                } else {
                    $.ajax({
                        cache: false,
                        dataType: 'json',
                        url: baseUrl + "Sub_MttoBateriasEstacionarias/InsertarInstrumento",
                        data: { idIM: instrumento, idMBE: idMBE, idB: idB, redEA: ea_red },
                        type: "POST",
                        success: function (data, status, xhr) {
                            $("#TablaInstrumentosBateriasEstacionarias").jqxGrid('updatebounddata');
                            App.alert({
                                container: "#bootstrap_alerts_instrumentos", // alerts parent container(by default placed after the page breadcrumbs)
                                place: "prepend", // append or prepent in container
                                type: "success",  // alert's type
                                message: "La información se guardó correctamente.",  // alert's message
                                close: 1, // make alert closable
                                reset: 1, // close all previouse alerts first
                                focus: 1, // auto scroll to the alert after shown
                                closeInSeconds: 5,//, // auto close after defined seconds
                                icon: "fa fa-success" // put icon before the message
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            switch (jqXHR.status) {
                                case 409:
                                    App.alert({
                                        container: "#bootstrap_alerts_instrumentos", // alerts parent container(by default placed after the page breadcrumbs)
                                        place: "prepend", // append or prepent in container
                                        type: "danger",  // alert's type
                                        message: "Ya existe el instrumento en la subestación.",  // alert's message
                                        close: 1, // make alert closable
                                        reset: 1, // close all previouse alerts first
                                        focus: 1, // auto scroll to the alert after shown
                                        closeInSeconds: 5,//, // auto close after defined seconds
                                        icon: "fa fa-danger" // put icon before the message
                                    });
                                    break;
                                case 400:
                                    App.alert({
                                        container: "#bootstrap_alerts_instrumentos", // alerts parent container(by default placed after the page breadcrumbs)
                                        place: "prepend", // append or prepent in container
                                        type: "danger",  // alert's type
                                        message: "Ocurrió un error al insertar el circuito.",  // alert's message
                                        close: 1, // make alert closable
                                        reset: 1, // close all previouse alerts first
                                        focus: 1, // auto scroll to the alert after shown
                                        closeInSeconds: 5,//, // auto close after defined seconds
                                        icon: "fa fa-danger" // put icon before the message
                                    });
                                    break;
                                default:
                            }
                            //commit(false);
                        }
                    });

                }
            });

            $("#form").submit(function () {
                $("#codSub").removeAttr('disabled');
                $("#Sub_MBE_TipoMtto").removeAttr('disabled');
                $("#Sub_MBE_RealizadoPor").removeAttr('disabled');
                $("#Sub_MBE_fechaMtto").removeAttr('disabled');

                $('#Sub_MBE_fechaMtto').val(finalFecha);
                $("#Sub_MBEI_Id_InstrumentoMedicion option:selected").val(10);
                return true;
            });

        });

    </script>

    <script src="~/Scripts/js/jsTablaInstrumentosBateriasEstacionarias.js"></script>
}


