@model Subestaciones.Models.Clases.Capacitores

@{
    ViewBag.Title = "Eliminar capacitor";
}

<h2>Eliminar capacitor</h2>

<h3>¿Desea eliminar el capacitor?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreSub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSub)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.codigoantiguo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoantiguo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipocontrol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipocontrol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CKVAR_Instalado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CKVAR_Instalado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EO)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
