@model Subestaciones.Models.Personal
    @{
        Layout = null;       
    }

    <!DOCTYPE html>
    <html lang="es-es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Autenticar | Subestaciones - SIGERE</title>

        <!--STYLESHEET-->
        <!--Open Sans Font-->
        <link href='~/Content/css/openSans.css' rel='stylesheet' type='text/css'>
        <!--Bootstrap Stylesheet-->
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
        <!--Nifty Stylesheet-->
        <link href="~/Content/css/nifty.min.css" rel="stylesheet">
        <!--Nifty Premium Icon-->
        <link href="~/Content/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
        <!--Pace - Page Load Progress Par-->
        <link href="~/Content/plugins/pace/pace.min.css" rel="stylesheet">
        <script src="~/Content/plugins/pace/pace.min.js"></script>
        <!--Select2-->
        <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet">
        <!--Demo-->
        <link href="~/Content/css/demo/nifty-demo.min.css" rel="stylesheet">

    </head>
    <!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
    <body>
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body text-center">
                    <div class="mar-ver pad-btm">
                        <h1 class="h3">Subestaciones</h1>
                        <h4>SIGERE</h4>
                        <p>Por favor identifíquese para continuar!</p>
                    </div>
                    @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                @Html.DropDownList("Nombre", null, "", htmlAttributes: new { @class = "select2_single form-control" })
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Inserte su contraseña", @type = "password", @style = "text-align:center" } })
                            </div>
                        </div>
                    </div>

                    <div class="checkbox pad-btm text-left">
                        <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                        <label for="demo-form-checkbox">Recuérdame</label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block col-md-4" type="submit">Entrar</button>
            }
                </div>

                <div class="pad-all">
                    <a href="pages-password-reminder.html" class="btn-link mar-rgt">Configurar conexión</a>
                    <a href="pages-register.html" class="btn-link mar-lft">Obtener ayuda</a>

                    <div class="media pad-top bord-top">
                        <div class="pull-right"></div>
                        <div class="media-body text-left text-bold text-main"></div>
                    </div>
                </div>
            </div>
        </div>

        </div>

        <!--JAVASCRIPT-->
        <!--jQuery-->
        <script src="~/Scripts/template/jquery.min.js"></script>
        <!--BootstrapJS-->
        <script src="~/Scripts/template/bootstrap.min.js"></script>
        <!--NiftyJS-->
        <script src="~/Scripts/template/nifty.min.js"></script>
        <script src="~/Content/plugins/select2/js/select2.min.js"></script>
        <script>
            $(document).ready(function () {
                //Select2
                $(".select2_single").select2({
                    placeholder: "Seleccione su usuario",
                    allowClear: true
                });
            });
        </script>
    </body>
    </html>
