@model Subestaciones.Models.Sub_PruebaAceiteAQReducido

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Sub_PruebaAceiteAQReducido</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CodigoSub)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodigoSub)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Id_EAdministrativa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id_EAdministrativa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumAccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumAccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RealizadoenLaboraorio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealizadoenLaboraorio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumeroControl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroControl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaSeleccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaSeleccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaRecepcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaRecepcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaInicio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaTerminacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaTerminacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MuestreoSegProc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MuestreoSegProc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MuestreoSegProcPor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MuestreoSegProcPor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Clasificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Clasificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EjecutadoPor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EjecutadoPor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RevisadoPor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RevisadoPor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TempMuestra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TempMuestra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Densidada20GC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Densidada20GC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NrodeNeutralizacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NrodeNeutralizacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AguaporKFisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AguaporKFisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HumedadenPapel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HumedadenPapel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TensionInterfacial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TensionInterfacial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PuntoInflamacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PuntoInflamacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RigidezDielectrica)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RigidezDielectrica)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SedimentoyCienoPrecip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SedimentoyCienoPrecip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Viscosidada40GC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Viscosidada40GC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FactorDisipacionTAmb)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FactorDisipacionTAmb)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FactorDisipaciona70GC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FactorDisipaciona70GC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FactorDisipacion90GC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FactorDisipacion90GC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspectoFisico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspectoFisico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ResulSegunNormas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResulSegunNormas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ResNro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResNro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmitidoPor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmitidoPor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CargoEmitidoPor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CargoEmitidoPor)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
