@model Subestaciones.Models.TransformadoresSubtransmision

@{
    ViewBag.Title = "Transformadores de subtransmisión";
}

@*@section pagetitle{
        <div class="page-title">
            <h1>Insertar transformador de potencia en subestaci&oacute;n</h1>
        </div>
    }*@


<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","TransformadoresSubtransmisions",new { ubicado = @ViewBag.ubicado })">Transformadores de subtransmisi&oacute;n en @ViewBag.En </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Insertar transformador</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Insertar transformador de subtransmisi&oacute;n
                            </div>
                        </div>
                        <div class="portlet-body form">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(false)
                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                                @Html.AntiForgeryToken()


                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group" @*style="padding-bottom:30px"*@ id="Subestaciones">
                                                    @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.Codigo, ViewBag.ListaSub as IEnumerable<SelectListItem>, "", htmlAttributes: new { @class = "form-control select2" })
                                                </div>
                                            </div>


                                        </div>
                                        <div class="panel" id="bloques">
                                            <div class="panel-title">Bloque de transformación</div>
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Id_Bloque, htmlAttributes: new { @class = "control-label" })
                                                        @Html.HiddenFor(model => model.Id_Bloque)

                                                        <div class="input-group " id="TA">
                                                            @*<input type="text" disabled class="form-control" id="bloqueSeleccionado">*@
                                                            @Html.EditorFor(model => model.Bloque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                                            <span class="input-group-addon btn blue tooltips" id="bloque" data-original-title="Seleccionar bloque">
                                                                <span class="fa fa-search" href="#basic1" data-toggle="modal"></span>
                                                            </span>
                                                        </div>


                                                        <div class="modal" id="basic1" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" style="display: none;">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">

                                                                    <!--Modal header-->
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                                                                        <h4 class="modal-title">Bloques de transformación de la subestación</h4>
                                                                    </div>


                                                                    <!--Modal body-->
                                                                    <div class="modal-body">
                                                                        <div id="bootstrap_alerts_Bloques"> </div>

                                                                        <div id="TablaBloques"></div>

                                                                    </div>


                                                                    <!--Modal footer-->
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-primary" type="button" id="Seleccionar">Seleccionar</button>
                                                                        <button data-dismiss="modal" class="btn btn-default" type="button" id="cerrar">Cerrar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.esquemaBloque, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.esquemaBloque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.sectorClienteBloque, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.sectorClienteBloque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="form-group col-md-2">
                                                        @Html.LabelFor(model => model.tensionTerciarioBloque, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.tensionTerciarioBloque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        @Html.LabelFor(model => model.tensionSalidaBloque, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.tensionSalidaBloque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.tipoSalidaBloque, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.tipoSalidaBloque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.clienteBloque, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.clienteBloque, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="row" style="display:none">
                                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.NumeroInventario, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.GrupoConexion, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.NumeroInventario, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.NumeroInventario, new { htmlAttributes = new { @class = "form-control" } })
                                            </div><div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.GrupoConexion, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.GrupoConexion, ViewBag.GrupoConex as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>
                                            <div class="form-group col-md-3" id="fechaInst">
                                                @Html.LabelFor(model => model.FechaDeInstalado, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.FechaDeInstalado, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Numemp, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Numemp, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.TipoEnfriamiento, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.TipoEnfriamiento, ViewBag.Enfriam as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>

                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.FrecuenciaN, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.FrecuenciaN, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div><div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.idFabricante, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.idFabricante, ViewBag.fab as SelectList, "", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.NoSerie, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.NoSerie, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Id_Capacidad, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.Id_Capacidad, ViewBag.capacidad as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div><div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.MaxTemperatura, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.MaxTemperatura, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.NumFase, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.NumFase, ViewBag.numF as SelectList, "", htmlAttributes: new { @class = "select2 form-control" })

                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.CorrienteAlta, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.CorrienteAlta, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>

                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.CorrienteBaja, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.CorrienteBaja, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.ValidationMessageFor(model => model.AnnoFabricacion, "", new { @class = "text-danger" })
                                                @Html.LabelFor(model => model.AnnoFabricacion, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.AnnoFabricacion, Enumerable.Range(0, (DateTime.Now.Year - 1900 - 1)).Select(i => new SelectListItem { Text = (DateTime.Now.Year - i).ToString(), Value = (DateTime.Now.Year - i).ToString() }), "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Id_VoltajePrim, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.Id_VoltajePrim, ViewBag.voltPrim as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Id_Voltaje_Secun, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.Id_Voltaje_Secun, ViewBag.voltSec as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.VoltajeTerciario, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.VoltajeTerciario, ViewBag.voltTerc as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div><div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.VoltajeImpulso, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.VoltajeImpulso, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.PesoAceite, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.PesoAceite, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.PesoTotal, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.PesoTotal, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.PesoNucleo, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.PesoNucleo, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div><div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.PesoTansporte, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.PesoTansporte, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.PerdidasBajoCarga, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.PerdidasBajoCarga, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.PerdidasVacio, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.PerdidasVacio, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.PorcientoImpedancia, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.PorcientoImpedancia, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div><div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.EstadoOperativo, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.EstadoOperativo, ViewBag.EO as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.TuboExplosor, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.TuboExplosor, ViewBag.TuboExp as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>

                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.CantRadiadores, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.CantRadiadores, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.CantVentiladores, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.CantVentiladores, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.ValvulaSobrePresion, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.ValvulaSobrePresion, ViewBag.valvulasobre as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-bordered-primary">
                                                <div class="panel-title">
                                                    Datos de la Regulación del Voltaje
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.TipoRegVoltaje, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.TipoRegVoltaje, ViewBag.RegV as SelectList, "", htmlAttributes: new { @class = "form-control select2" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.NroPosiciones, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.NroPosiciones, new { htmlAttributes = new { @class = "form-control", @type = "number", @disabled = true } })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.PosicionTrabajo, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.PosicionTrabajo, new { htmlAttributes = new { @class = "form-control", @type = "number", @disabled = true } })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.LabelFor(model => model.TipoCajaMando, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.TipoCajaMando, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label " for="Observaciones">Observaciones</label>
                                                <textarea class="form-control" cols="20" data-val="true" data-val-length="El campo Observaciones debe ser una cadena con una longitud máxima de 750." data-val-length-max="750" id="Observaciones" name="Observaciones" rows="2"></textarea>
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>


                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","TransformadoresSubtransmisions",new { ubicado = @ViewBag.ubicado })"><i class="fa fa-list"></i>Listado de transformadores subtransmisi&oacute;n</a>
                                            <button type="submit" name="submitButton" class="btn btn-success" value="TS"><i class="fa fa-plus"></i> Guardar</button>



                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->
@section styles{
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Scripts/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Scripts/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="~/Scripts/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.base.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.orange.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.windowsphone.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.highcontrast.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.light.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/EstiloTabla/tablaStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Scripts/assets/plugins/jqwidgets/styles/jqx.base.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />

    <link href="~/Content/EstiloTabla/tablaStyle.css" rel="stylesheet" type="text/css" />

}

@section script{
    <script src="~/Scripts/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/TooltipValidator1Anidacion.js")"></script>


    <script src="~/Scripts/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/plugins/jqwidgets/jqxcore.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxdata.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxbuttons.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxscrollbar.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxmenu.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxwindow.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.edit.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxpanel.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.selection.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.aggregates.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxdata.export.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.export.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.grouping.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.pager.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxdropdownlist.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxlistbox.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.sort.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.columnsresize.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxgrid.filter.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/localization.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxnumberinput.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxcombobox.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxinput.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/plugins/jqwidgets/jqxcheckbox.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            inicializar_select2();

            function inicializar_select2() {
                $(".select2").select2({
                    placeholder: "Seleccione un elemento de la lista"
                });
            }

            $('.datepicker').datepicker({
                language: 'es',
                autoclose: 1,
                todayHighlight: 1,
                format: 'dd/mm/yyyy',
                minDate: 0
            });

            var ub = "@ViewBag.ubicado";
            if (ub == "TSA") {// esta ubicado en un almacen
                $("#bloques").hide();
                $("#fechaInst").hide();

            }

            if (ub == "TS") {//esta ubicado en una subestacion de transmision

                $("#bloques").show();
                $("#fechaInst").show();

                $("#Codigo").change(function () {
                    var codigo = $("#Codigo").val();
                    $("#bloqueSeleccionado").val("");
                    var _sourceTablaBloques =
                        {
                            dataType: "json",
                            dataFields: [
                                { name: 'Id_bloque', type: 'int' },
                                { name: 'tipobloque', type: 'string' },
                                { name: 'EsquemaPorBaja', type: 'string' },
                                { name: 'VoltajeSalida', type: 'double' },
                                { name: 'VoltajeTerciario', type: 'double' },
                                { name: 'TipoSalida', type: 'string' },
                                { name: 'Sector', type: 'string' },
                                { name: 'Cliente', type: 'string' },
                            ],
                            id: 'id',
                            pagenum: 3,
                            pagesize: 10,
                            url: baseUrl + "TransformadoresSubtransmisions/ObtenerListaBloques",
                            data: {
                                cod: codigo
                            },
                            type: 'GET',
                            pager: function (pagenum, pagesize, oldpagenum) {
                                // callback called when a page or page size is changed.
                            },

                        };

                    inicializarTablaBloque("#TablaBloques", _sourceTablaBloques, _columnsTablaBloques)

                });

                //seleccionar bloques de transformacón
                $("#Seleccionar").click(function () {
                    id_bloqueSeleccionado = $("#bloqueSeleccionado").val();
                    if (id_bloqueSeleccionado != "") {
                        $("#cerrar").click();
                    }
                    else {
                        App.alert({
                            container: "#bootstrap_alerts_Bloques", // alerts parent container(by default placed after the page breadcrumbs)
                            place: "prepend", // append or prepent in container
                            type: "info",  // alert's type
                            message: "Seleccione un bloque de transformación.",  // alert's message
                            close: 1, // make alert closable
                            reset: 1, // close all previouse alerts first
                            focus: 1, // auto scroll to the alert after shown
                            closeInSeconds: 5,//, // auto close after defined seconds
                            icon: "fa fa-info" // put icon before the message
                        });

                    }
                });

            }

            $("#TipoRegVoltaje").change(function () {
                $("#NroPosiciones").attr("disabled", false);
                var tipo = $("#TipoRegVoltaje").val();
                if (tipo == "Manual") {
                    $("#PosicionTrabajo").attr("disabled", false);
                    $("#TipoCajaMando").attr("disabled", true);
                    $("#TipoCajaMando").val("");
                }
                else {
                    $("#PosicionTrabajo").attr("disabled", true);
                    $("#TipoCajaMando").attr("disabled", false);
                    $("#PosicionTrabajo").val("");

                }
            });

            if (!jQuery.isEmptyObject('@Model')) {
                $("#Codigo").trigger('change');
            }
            var errorEA = @ViewBag.ErrorEA;
            if (errorEA == 1)
                {
                    alert("Error Estructura administrativa. Contacte al implementador del SIGERE");
            };
        });
    </script>
    <script src="~/Scripts/js/TransformadoresPotencia/jsTablaBloques.js"></script>

}

