@model Subestaciones.Models.Clases.Sub_MttoTFuerzaViewModel

@{
    ViewBag.Title = "Mantenimiento de los transformadores de fuerza";
}

<!-- END PAGE HEAD-->
<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Sub_MttoTFuerza")">Lista de mantenimientos</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Insertar</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-binoculars"></i>Insertar mantenimiento de los transformadores de fuerza
                            </div>
                        </div>
                        <div class="portlet-body form">
                            @using (Html.BeginForm("Create", "Sub_MttoTFuerza", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))

                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()


                                <!-- BEGIN FORM-->

                                <div class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row" style="text-align: center; font-size:20px">
                                            @Html.ValidationMessageFor(model => model.Sub_MTF.MensajeExistenciaMtto, "", new { @class = "text-danger" })

                                            @Html.HiddenFor(model => model.Sub_MTF.Id_TFuerza, new { @id = "Id_TFuerza" })
                                            @Html.HiddenFor(model => model.Sub_MTF.Id_EAdministrativaTFuerza, new { @id = "Id_EAdministrativaTFuerza" })
                                            
                                            @Html.HiddenFor(model => model.DatosCTF.NroPosiciones, new { @id = "NroPosiciones" })
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">Datos generales del mantenimiento</div>
                                            <div class="panel-body">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MTF.Subestacion, htmlAttributes: new { @class = "control-label" })

                                                        @Html.DropDownListFor(model => model.Sub_MTF.Subestacion, ViewBag.ListaSub as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2", @id = "codSub" })
                                                        @Html.ValidationMessageFor(model => model.Sub_MTF.Subestacion, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MTF.tipoMantenimiento, htmlAttributes: new { @class = "control-label" })

                                                        @Html.DropDownListFor(model => model.Sub_MTF.tipoMantenimiento, ViewBag.TiposMtto as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.Sub_MTF.tipoMantenimiento, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MTF.RevisadoPor, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.Sub_MTF.RevisadoPor, ViewBag.personal as SelectList,
"Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.Sub_MTF.RevisadoPor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.Sub_MTF.Fecha, htmlAttributes: new { @class = "control-label" })

                                                    <div class="input-group date" id="fechahora">
                                                        <input type="text" disabled class="form-control" id="termofechahora">
                                                        <span class="input-group-addon btn blue tooltips" disabled id="termografiafechahora" data-original-title="Seleccionar fecha">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                    </div>
                                                    @Html.HiddenFor(model => model.Sub_MTF.Fecha)
                                                    @Html.ValidationMessageFor(model => model.Sub_MTF.Fecha, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Sub_MTF.Mantenido, htmlAttributes: new { @class = "control-label " })
                                                        <br />
                                                        @Html.EditorFor(model => model.Sub_MTF.Mantenido.Value, new
                                                        {
                                                            htmlAttributes = new
                                                            {
                                                                Name = "Sub_MTF.Mantenido",
                                                                @id = "Sub_MTF_Mantenido",
                                                                @class = "form-control js-switch"
                                                            }
                                                        })
                                                        @Html.ValidationMessageFor(model => model.Sub_MTF.Mantenido, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel">
                                            <div class="panel-heading">Datos de chapa de los transformadores de fuerza</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarTF">
                                                            @Html.LabelFor(model => model.DatosCTF.Nombre, htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.DatosCTF.Id_Transformador, ViewBag.TFuerza as SelectList,
        "Seleccione un elemento de la lista", htmlAttributes: new { @class = "form-control select2", @id = "NombreTF" })
                                                            @Html.ValidationMessageFor(model => model.DatosCTF.Id_Transformador, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarNoSerie">
                                                            @Html.LabelFor(model => model.DatosCTF.NoSerie, htmlAttributes: new { @class = "control-label" })
                                                            <input id="NoSerie" type="text" class="form-control" value="" readonly="readonly" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarVoltajeP">
                                                            @Html.LabelFor(model => model.DatosCTF.VoltajeP, htmlAttributes: new { @class = "control-label" })
                                                            <input id="VoltajeP" type="text" class="form-control" value="" readonly="readonly" />
                                                            @Html.HiddenFor(model => model.DatosCTF.VoltajeP)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarNumemp">
                                                            @Html.LabelFor(model => model.DatosCTF.Numemp, htmlAttributes: new { @class = "control-label" })
                                                            <input id="Numemp" type="text" class="form-control" value="" readonly="readonly" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarCapacidad">
                                                            @Html.LabelFor(model => model.DatosCTF.Capacidad, htmlAttributes: new { @class = "control-label" })
                                                            <input id="Capacidad" type="text" class="form-control" value="" readonly="readonly" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarVoltajeS">
                                                            @Html.LabelFor(model => model.DatosCTF.VoltajeS, htmlAttributes: new { @class = "control-label" })
                                                            <input id="VoltajeS" type="text" class="form-control" value="" readonly="readonly" />
                                                            @Html.HiddenFor(model => model.DatosCTF.VoltajeS)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" id="cargarVoltajeT">
                                                            @Html.LabelFor(model => model.DatosCTF.VoltajeT, htmlAttributes: new { @class = "control-label" })
                                                            <input id="VoltajeT" type="text" class="form-control" value="" readonly="readonly" />
                                                            @Html.HiddenFor(model => model.DatosCTF.VoltajeT)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions right">
                                            <a class="btn btn-primary" href="@Url.Action("Index","Sub_MttoTFuerza")"><i class="fa fa-list"></i> Listado de mantenimientos</a>
                                            <button type="submit" class="btn blue">
                                                <i class="fa fa-plus"></i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->

@section styles{
    <link href="~/Scripts/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" rel="stylesheet" />

    <link href="~/Scripts/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/plugins/switchery/switchery.min.css") rel="stylesheet">


}

@section script{
    <script src="~/Scripts/assets/global/plugins/select2/js/select2.full.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/TooltipValidator1Anidacion.js")"></script>

    <script src="~/Scripts/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>

    <script src=@Url.Content("~/Content/plugins/switchery/switchery.min.js")></script>


    <!--datepicker-->
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-datetimepicker2.4.4/js/locales/bootstrap-datetimepicker.es.js" type="text/javascript"></script>
    <!--datepicker-->

    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/pages/scripts/components-bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Scripts/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/sweetalert/sweetalert.min.js")"></script>


    <script src="~/Scripts/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    @*<script src="~//assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>*@


    <script src="~/Scripts/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {

            inicializar_select2();

            function inicializar_select2() {
                $(".select2").select2({
                    placeholder: "Seleccione un elemento de la lista"
                });
            }

            fecha = new Date();
            fechaini = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 0, 0);
            fechafin = new Date(fecha.getFullYear(), fecha.getMonth(), fecha.getDate(), 23, 59);

            $("#fechahora").datetimepicker({
                language: 'es',
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                dateFormat: 'dd/mm/yyyy',
                linkFormat: 'dd/mm/yyyy',
                showMeridian: 1,
                startDate: fechaini,
                endDate: fechafin,
                forceParse: 1,
                startView: 2,
                maxView: 2
            }).datetimepicker('setDate', fecha);

            $('.js-switch').bootstrapSwitch({
                onText: "Si",
                offText: "No"
            });

            $("#codSub").change(function () {
                $("#NoSerie").val("");
                $("#VoltajeP").val("");
                $("#Numemp").val("");
                $("#Capacidad").val("");
                $("#VoltajeS").val("");
                $("#VoltajeT").val("");
                cargarTFuerza();
            });

            function cargarTFuerza() {
                var sub = $("#codSub").val();
                if (sub != "") {
                    $.ajax({
                        url: '@Url.Action("Cargar_transformador_fuerza", "Sub_MttoTFuerza")',
                        method: "POST",
                        data: { codsub: sub },
                        success: function (data) {
                            $('#cargarTF').html(data);
                            $(".select2").select2({
                                placeholder: "Seleccione un elemento de la lista",
                                //allowClear: true
                            });
                        }
                    });
                }
            }

            $("#cargarTF").change(function () {
                var CS = $("#codSub").val();
                var IDT = $("#NombreTF").val();
                if (IDT != "") {
                    $.ajax({
                        url: '@Url.Action("Cargar_datos_TFuerza", "Sub_MttoTFuerza")',
                        type: "POST",
                        datatype: "json",
                        data: { codSub: CS, idT: IDT },
                        success: function (data) {
                            $("#NoSerie").val(data[0].NoSerie);
                            $("#VoltajeP").val(data[0].VoltajeP);
                            $("#Numemp").val(data[0].Numemp);
                            $("#Capacidad").val(data[0].Capacidad);
                            $("#VoltajeS").val(data[0].VoltajeS);
                            $("#VoltajeT").val(data[0].VoltajeT);
                            $("#NroPosiciones").val(data[0].NroPosiciones);
                            $("#Id_TFuerza").val(data[0].Id_Transformador);
                            $("#Id_EAdministrativaTFuerza").val(data[0].Id_EAdministrativa);
                        }
                    });
                } else {
                    $("#NoSerie").val("");
                    $("#VoltajeP").val("");
                    $("#Numemp").val("");
                    $("#Capacidad").val("");
                    $("#VoltajeS").val("");
                    $("#VoltajeT").val("");
                }
            });

            let valorfecha = $("#termofechahora").val();
            let newfecha = valorfecha.split(" ")[0];
            let diafecha = newfecha.split("/")[0];
            let mesfecha = newfecha.split("/")[1];
            let annofecha = newfecha.split("/")[2];
            let finalFecha = `${annofecha}-${mesfecha}-${diafecha}`;

            $("#form").submit(function () {
                $("#VoltajeP").removeAttr('readonly');
                $("#VoltajeS").removeAttr('readonly');
                $("#VoltajeT").removeAttr('readonly');

                $('#Sub_MTF_Fecha').val(finalFecha);
                $('#DatosCTF_VoltajeP').val($("#VoltajeP").val());
                $('#DatosCTF_VoltajeS').val($("#VoltajeS").val());
                $('#DatosCTF_VoltajeT').val($("#VoltajeT").val());
            });

        });
    </script>
}